<h2>Ask question</h2>
<form action="/question/create" method="post">
  Question:
  <input type="text" name="name"><br>
  Description:
  <textarea name="description" rows="5" cols="80">
  </textarea>
  <br>
  <input type="submit" value="Submit Question">
</form>
