<form action="/answer/<%= answer.id %>/comment" method="post">
  <div class="input-box-root">
    <textarea name="content"></textarea>
  </div>
  <div class="comment-form-actions">
    <input class="btn-blue" type="submit" value="发表评论">
  </div>
</form>
