<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div class="sa-top">
      <div id="sa-top-inner" class="zg-wrap">
        <a id="sh-top-link-logo" class="sh-top-link-logo" href="/">SHIRUKA</a> 
        <%= if session[:user] 
              erb :top_nav_profile
            else
              erb :top_nav_noauth
            end
        %>
        <%= erb :top_search %>
        <div id="top-nav" class="top-nav">
          <ul class="sa-top-nav-ul">
            <li class="sa-top-nav-li">
              <a class="sa-top-nav-link" href="/explore">发现</a>
            </li>
            <li class="sa-top-nav-li">
              <a class="sa-top-nav-link" href="/ask">提问</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="sa-main zg-wrap">
      <div class="sa-main-content">
        <div class="sa-main-content-inner">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="modal" class="canvas" style="display: none"></div>

    <div id="login-form" class="canvas" style="display: none">
      <div class="login-form-inner">
        <div class="dialog-title">
          <h1>登录</h1>
          <span onclick="showElement('login-form')" title="close" class="close">
            &times;
          </span>
          <label class="error">账号或密码错误</label>
        </div>
        <div class="dialog-content">
          <form id="js-login-form" action="POST">
            <div class="input-wrapper">
              <input class="email" placeholder="邮箱" type="email" name="email">
            </div>
            <div class="input-wrapper">
              <input type="password" placeholder="密码" name="password">
            </div>
            <div class="actions">
              <button class="submit blue-button" type="submit">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
