<% answers.each do |answer| %>
  <% question = answer.question %>
  <h2>
    <a href="/question/<%= question.id %>"><%= question.name %></a>
  </h2>
  <%= erb :answer, locals: {answer: answer} %>
  <br>
<% end %>
