<div id="top-search" class="top-search">
  <form id="top-search-form" class="top-search-form" method="GET" action="/search">
    <input id="q" class="top-search-input" name="q" maxlength="100" placeholder="搜索你感兴趣的内容..." type="text">
    <button class="top-search-button" type="submit">
      <span>搜索</span>
    </button>
  </form>
</div>

