<div class="top-nav-noauth">
  <a class="js-signin-noauth" href="javascript:;" onclick="showElement('login-form')">
    登录
  </a>
  <a class="contact-author" href="https://github.com/dkeehl">Contact</a>
</div>
