a {
  color: #259;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-size: 14px;
  outline: 0;
}

ul, ol, li, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.7;
  word-wrap: break-word;
  color: #222;
  padding-top: 46px;
}

.comments {
  display: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  position: relative;
  margin-top: 1em;
  margin-bottom: 3em;
}

.comment-list {
  padding-left: 1em;
  padding-right: 1em;
}

.comment-form {
  margin: 0;
  padding: 1em;
  position: relative;
  border-top: 1px solid #eee;
  border-radius: 0 0 4px 4px;
  background: #fbfbfb;
}

.comment-item-root {
  position: relative;
  outline: none;
  padding: .9em 0;
}

.comment-item-header {
  color: #999;
}

.comment-item-content {
  min-height: 22px;
  word-wrap: break-word;
  color: #222;
}

.comment-item-footer {
  font-size: .95em;
  color: #999;
}

.input-box-root {
  padding: 9px 12px;
  line-height: 1.4;
  color: #222;
  cursor: text;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  background: #fff;
  box-sizing: border-box;
}

.input-box-root textarea {
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.comment-form-actions {
  margin-top: 10px;
  padding-bottom: 0;
  text-align: right;
  line-height: 33px;
}

.comment-form-actions .btn-blue {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background: linear-gradient(to bottom, #1d7fe2, #0865c2);
  border: 1px solid #0d6eb8;
  box-shadow: 0 1px 0 rgba(255,255,255,.2) inset,0 1px 0 rgba(0,0,0,.2);
  font-size: 12px;
  line-height: 1.7;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

.sa-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: linear-gradient(to bottom, #086ed5, #055db5);
  border-bottom: 1px solid #044e97;
  box-shadow: 0 1px 2px rgba(0,0,0, .25), inset 0 1px 0 rgba(255,255,255,.15);
  z-index: 20;
}

.zg-wrap {
  position: relative;
  height: inherit;
  width: 960px;
  margin: 0 auto;
  clear: both;
}

.sh-top-link-logo {
  float: left;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
}

.top-nav {
  float: left;
  position: relative;
}

.sa-top-nav-ul {
  padding: 0;
  margin: 0 0 0 18px;
}

.sa-top-nav-li {
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  list-style: none;
}

.sa-top-nav-link {
  width: 54px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: block;
  color: #f2f4f5;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  font-size: 14px;
}

.top-nav-profile {
  float: right;
  position: relative;
  min-width: 120px;
  margin-left: 15px;
}

.top-nav-profile .top-nav-userinfo {
  position: relative;
  height: 45px;
  line-height: 45px;
  text-indent: 46px;
  color: #fff;
  text-decoration: none;
  border-top: 0;
  background: transparent;
  box-shadow: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top-nav-profile a {
  display: block;
  width: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  font-size: 14px;
}

.top-nav-dropdown {
  display: none;
  margin: 0;
  position: absolute;
  left: 0;
  text-align: center;
}

.top-nav-dropdown a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #095fb3;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.4);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.top-nav-dropdown a:last-child {
  border-radius: 0 0 4px 4px;
}

.top-nav-profile:hover .top-nav-dropdown {
  display: block;
}

.top-nav-noauth {
  float: right;
  margin: 0 0 0 15px;
  line-height: 45px;
}

.top-nav-noauth a {
  padding: 0 10px;
  width: auto;
  height: 46px;
  line-height: 46px;
  text-align: center;
  display: inline-block;
  color: #eee;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  font-size: 14px;
}

.top-search {
  position: relative;
  float: left;
  margin: 7px 0 0 15px;
}

.top-search-form {
  position: relative;
  width: 367px;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.top-search-input {
  padding: 7px 50px 7px 10px;
  width: 100%;
  color: #49525c;
  font-size: 14px;
  line-height: 17px;
  background-color: #e1eaf2;
  border: 1px solid #045bb2;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
  outline: 0;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

.top-search-form .top-search-button {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to bottom, #0e7bef, #0d73da);
  border: 1px solid #045bb2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
}

.sa-main {
  min-height: 340px;
  padding: 25px 0 50px;
  position: relative;
  z-index: 2;
}

.sa-main-content {
  float: left;
  width: 100%;
}

.sa-main-content-inner {
  position: relative;
  margin: 0 328px 0 0;
}

.with-indention-votebar {
  margin-left: 48px;
  position: relative;
}

.votebar {
  float: left;
  margin-left: -48px;
}

.votebar .up, .votebar .down {
  display: block;
  color: #698ebf;
  line-height: 24px;
  width: 39px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  background: #eff6fa;
  font-weight: 500;
  text-align: center;
  position: relative;
}

button.up:hover, button.down:hover {
  border: solid 1px #698ebf;
}

button {
  padding: 0;
}

.votebar .up {
  padding-top: 18px;
  height: 44px;
}

.votebar .down {
  margin: 5px 0 0;
  height: 24px;
}

.votebar .vote-arrow {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  font-size: 0;
  background-image: none;
}

.votebar .up .vote-arrow {
  position: absolute;
  top: 11px;
  left: 50%;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #698ebf;
  border-top-style: solid;
}

.votebar .down .vote-arrow {
  border-bottom-width: 0;
  border-top-color: #698ebf;
}

.votebar [aria-pressed=true] {
  background-color: #698ebf;
  color: white;
}

[aria-pressed=true].up .vote-arrow {
  border-bottom-color: white;
}

[aria-pressed=true].down .vote-arrow {
  border-top-color: white;
}

.tag-editor-remove-button {
  visibility: hidden;
}

.author-link-line {
  color: #222;
}

.author-link {
  font-weight: 700;
}

.author-link-line a {
  color: inherit;
}

.meta-panel {
  padding: 5px 0;
  margin-bottom: -5px;
}

.meta-item {
  color: #999;
}

.feed-item {
  padding: 10px 0;
  position: relative;
  margin-left: 0;
  outline: 0;
}

.feed-item + .feed-item {
  border-top: 1px solid #eee;
}
.feed-item .item-answer {
  margin-top: 3px;
}

.item-answer {
  margin-left: 48px;
  position: relative;
  padding: 0;
  outline: 0;
}

.item-answer + .item-answer {
  border-top: 1px solid #eee;
}

.with-indention-votebar .item-answer {
  margin-left: 0;
}

#question-answer-wrap > .item-answer {
  padding: 10px 0 5px;
}

#question-answer-form-wrap {
  margin-top: 30px;
  border-radius: 4px;
}

.answers-title {
  position: relative;
  padding: 10px 0;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

#question-title {
  margin: 0 0 5px;
}

#question-title > .item-title {
  font-size: 18px;
  display: inline;
}

#modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 20%;
}

.container {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 20%;
  text-align: center;
}

#login-form {
  z-index: 99;
  background-color: rgba(0,0,0,.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-form-inner {
  position: relative;
  margin: 20vh auto;
  width: 300px;
  border: solid 1px #cbcbcb;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
  transition: .3s ease-out;
  border-radius: 5px;
  color: #787878;
}

.dialog-title {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  line-height: 1;
}

span.close {
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}

.input-wrapper {
  border-bottom: 1px solid #eee;
}

.dialog-content .input-wrapper:first-child {
  border-top: 1px solid #eee;
}

.input-wrapper input {
  padding: 15px 8px;
  font-size: 14px;
  line-height: 18px;
  color: #787878;
  border: 0;
  outline: 0;
}

#login-form .actions {
  margin-top: 12px;
  margin-bottom: 6px;
  padding: 0 8px;
  line-height: 30px;
}


#login-form .blue-button {
  width: 100%;
  padding: 10px 0;
  display: inline-box;
  background-color: #0077d9;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}

.login-form-inner label.error.is-visible {
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
}

.login-form-inner label.error {
  position: absolute;
  top: 45px;
  left: 105px;
  color: #c33;
  cursor: text;
  visibility: hidden;
  opacity: 0;
  transition: .25s;
  transform: translate(8px, 0);
}

.question-answer-form-wrap .answer-form-title {
  font-weight: 700;
}

.question-answer-form-wrap .editor-text-wrap {
  margin: 15px 0;
  position: relative;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;
  background: #fff;
}

.question-answer-form-wrap textarea.editor-text {
  min-height: 88px;
  width: 100%;
  font-size: 13px;
  cursor: text;
  outline: 0;
  border: 0;
  resize: none;
}

.question-answer-form-wrap .btn-blue {
  text-align: right;
}

.question-answer-form-wrap .btn-blue input {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background: linear-gradient(to bottom, #1d7fe2, #0865c2);
  border: 1px solid #0d6eb8;
  box-shadow: 0 1px 0 rgba(255,255,255,.2) inset,0 1px 0 rgba(0,0,0,.2);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 3px;
}

