.comments {
  display: none;
}

a {
  color: #259;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-size: 14px;
  outline: 0;
}

ul, ol, li, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.7;
  word-wrap: break-word;
  color: #222;
  padding-top: 46px;
}

.sa-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: linear-gradient(to bottom, #086ed5, #055db5);
  border-bottom: 1px solid #044e97;
  box-shadow: 0 1px 2px rgba(0,0,0, .25), inset 0 1px 0 rgba(255,255,255,.15);
}

.zg-wrap {
  position: relative;
  height: inherit;
  width: 960px;
  margin: 0 auto;
  clear: both;
}

.sh-top-link-logo {
  float: left;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
}

.sa-top-nav-ul {
  padding: 0;
  margin: 0 0 0 18px;
}

.sa-top-nav-li {
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  list-style: none;
}

.sa-top-nav-link {
  width: 54px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: block;
  color: #f2f4f5;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  font-size: 14px;
}

.sa-main {
  min-height: 340px;
  padding: 25px 0 50px;
  position: relative;
  z-index: 2;
}

.sa-main-content {
  float: left;
  width: 100%;
}

.sa-main-content-inner {
  position: relative;
  margin: 0 328px 0 48px;
}

.votebar {
  float: left;
  margin-left: -48px;
}

.votebar .up, .votebar .down {
  display: block;
  color: #698ebf;
  line-height: 24px;
  width: 39px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  background: #eff6fa;
  font-weight: 500;
  text-align: center;
  position: relative;
}

button.up:hover, button.down:hover {
  border: solid 1px #698ebf;
}

button {
  padding: 0;
}

.votebar .up {
  padding-top: 18px;
  height: 44px;
}

.votebar .down {
  margin: 5px 0 0;
  height: 24px;
}

.votebar .vote-arrow {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  font-size: 0;
  background-image: none;
}

.votebar .up .vote-arrow {
  position: absolute;
  top: 11px;
  left: 50%;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #698ebf;
  border-top-style: solid;
}

.votebar .down .vote-arrow {
  border-bottom-width: 0;
  border-top-color: #698ebf;
}

.votebar [aria-pressed=true] {
  background-color: #698ebf;
  color: white;
}

[aria-pressed=true].up .vote-arrow {
  border-bottom-color: white;
}

[aria-pressed=true].down .vote-arrow {
  border-top-color: white;
}

.tag-editor-remove-button {
  visibility: hidden;
}

.author-link-line {
  color: #222;
}

.author-link {
  font-weight: 700;
}

.author-link-line a {
  color: inherit;
}

.meta-panel {
  padding: 5px 0;
  margin-bottom: -5px;
}

.meta-item {
  color: #999;
}

.item-answer {
  padding: 10px 0 5px;
  border-bottom: 1px solid #eee;

}

.answers-title {
  position: relative;
  padding: 10px 0;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

#question-title > .item-title {
  font-size: 18px;
  display: inline;
}

#modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 20%;
}

.container {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 20%;
  text-align: center;
}


